-- ============================================================
-- CORREÇÃO RLS MENSAGENS - Smart Reforço  
-- Execute este SQL no Supabase SQL Editor
-- Supabase Dashboard > SQL Editor > New Query > Cole e Execute
-- ============================================================

-- 1. Remover políticas antigas que podem estar bloqueando
DROP POLICY IF EXISTS "Service role full access mensagens" ON mensagens;
DROP POLICY IF EXISTS "anon_select_mensagens" ON mensagens;
DROP POLICY IF EXISTS "anon_insert_mensagens" ON mensagens;
DROP POLICY IF EXISTS "anon_update_mensagens" ON mensagens;
DROP POLICY IF EXISTS "service_role_full_mensagens" ON mensagens;
DROP POLICY IF EXISTS "authenticated_full_mensagens" ON mensagens;
DROP POLICY IF EXISTS "allow_select_mensagens" ON mensagens;
DROP POLICY IF EXISTS "allow_insert_mensagens" ON mensagens;
DROP POLICY IF EXISTS "allow_update_mensagens" ON mensagens;
DROP POLICY IF EXISTS "allow_delete_mensagens" ON mensagens;

-- 2. Permitir leitura para todos (anon e authenticated)
CREATE POLICY "allow_select_mensagens" ON mensagens
    FOR SELECT 
    USING (true);

-- 3. Permitir inserção para todos
CREATE POLICY "allow_insert_mensagens" ON mensagens
    FOR INSERT 
    WITH CHECK (true);

-- 4. Permitir atualização para todos
CREATE POLICY "allow_update_mensagens" ON mensagens
    FOR UPDATE 
    USING (true)
    WITH CHECK (true);

-- 5. Permitir deleção para todos
CREATE POLICY "allow_delete_mensagens" ON mensagens
    FOR DELETE 
    USING (true);

-- 6. Verificar se RLS está habilitado
ALTER TABLE mensagens ENABLE ROW LEVEL SECURITY;

-- 7. Teste: inserir uma mensagem de teste
INSERT INTO mensagens (telefone, tipo, conteudo, direcao, status, created_at)
VALUES ('5561999999999', 'text', 'Teste de conexão', 'outgoing', 'sent', NOW());

-- 8. Verificar se inseriu
SELECT * FROM mensagens WHERE telefone = '5561999999999';

-- Se aparecer a mensagem, o RLS está funcionando!
